<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://api.newzoo.com/v1.0/metadata/game/boxart?name=Fortnite" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Fortnite</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                    </div>
    
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://api.newzoo.com/v1.0/metadata/game/boxart?name=Minecraft" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Minecraft</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                    </div>
    
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://api.newzoo.com/v1.0/metadata/game/boxart?name=League%20of%20Legends" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">League of legends</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                    </div>
    
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://api.newzoo.com/v1.0/metadata/game/boxart?name=Grand%20Theft%20Auto%20V" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Grand theft auto</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
    
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://api.newzoo.com/v1.0/metadata/game/boxart?name=Overwatch" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Overwatch</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
    
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://api.newzoo.com/v1.0/metadata/game/boxart?name=Dota%202" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dota</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
    
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://api.newzoo.com/v1.0/metadata/game/boxart?name=World%20of%20Warcraft" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Warcraft</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
    
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://api.newzoo.com/v1.0/metadata/game/boxart?name=Call%20of%20Duty:%20Vanguard" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Call of duty vanguard</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://api.newzoo.com/v1.0/metadata/game/boxart?name=Destiny%202" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Destiny 2</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
    
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://api.newzoo.com/v1.0/metadata/game/boxart?name=Rocket%20League" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Rocket League</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
    
                </div>
            </div>
	

        </div>
    </div>
</div>
